<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjtu.testbox.mapper.CableMapper">

    <resultMap id="cableMap" type="cable">
        <id property="cableId" column="cable_id"/>
        <result property="cableNumber" column="cable_number"/>
        <result property="cableType" column="cable_Type"/>
        <result property="cableTagId" column="cable_Tag_Id"/>
        <result property="cableArea" column="cable_Area"/>
    </resultMap>

    <select id="findCableByBoxId" parameterType="int" resultMap="cableMap">
        select c.*
        from box b, cable c
        where b.box_id = c.cable_box_id and b.box_id = #{id}
    </select>

    <select id="cableNumberByType" resultType="map">
        select
          cable_type as type,
          count(cable_type) as number
        from cable
        where cable_box_id = #{boxId}
        group by cable_type
    </select>


    <!-- update cable basic info -->
    <update id="updateCableInfo">
        update cable
        <set>
            <if test="cableTagId!=null">cable_tag_id = #{cableTagId},</if>
            <if test="cableArea!=null">and cable_area = #{cableArea},</if>
            <if test="cableBoxId!=null">and cable_box_id = #{cableBoxId},</if>
        </set>
        where cable_id = #{cableId}
    </update>
</mapper>