<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjtu.testbox.mapper.TaskMapper">

    <!-- 任务列表，简单信息-->
    <resultMap id="simpleTaskMap" type="task">
        <id property="taskId" column="task_id"/>
        <result property="taskNumber" column="task_number"/>
        <result property="taskName" column="task_name"/>
        <result property="taskWorkerId" column="task_worker_id"/>
        <result property="taskWorkerName" column="task_worker_name"/>
        <result property="taskPoint" column="task_point"/>
        <result property="taskDate" column="task_date"/>
        <result property="borrowDate" column="borrow_date"/>
        <result property="returnDate" column="return_date"/>
        <result property="taskStatus" column="task_status"/>
        <result property="taskDesc" column="task_desc"/>
        <result property="taskCity" column="task_city"/>
        <result property="taskArea" column="task_area"/>
    </resultMap>

    <!--查询任务的简单信息-->
    <select id="queryTask" resultMap="simpleTaskMap">
        select
        t.task_id, t.task_number, t.task_worker_name, t.task_point, t.task_date, t.borrow_date,
        t.return_date, t.task_status, t.task_desc, t.task_city, t.task_area, task_name
        from task t
        <where>
            <if test="taskCity!=null">
                t.task_city = #{taskCity}
            </if>
            <if test="workerId!=null">
                and t.task_worker_id = #{workerId}
            </if>
            <if test="taskStatus!=null">
                and t.task_status = #{taskStatus}
            </if>
            <if test="taskPoint!=null">
                and t.task_point = #{taskPoint}
            </if>
            <if test="startDate!=null and endDate!=null">
                and t.task_date &lt;= #{endDate}
                and t.task_date &gt;= #{startDate}
            </if>
        </where>
        order by t.task_date desc;
    </select>

    <!-- 查询所有任务的信息 -->
    <select id="queryAllTasks" resultMap="simpleTaskMap">
        select * from task
        order by task_date desc;
    </select>

    <!-- 一个任务的详细信息，包含使用的试验箱和线缆的信息 -->
    <resultMap id="detailTaskMap" type="task">
        <id property="taskId" column="task_id"/>
        <result property="taskNumber" column="task_number"/>
        <result property="taskName" column="task_name"/>
        <result property="taskWorkerId" column="task_worker_id"/>
        <result property="taskWorkerName" column="task_worker_name"/>
        <result property="taskPoint" column="task_point"/>
        <result property="taskDate" column="task_date"/>
        <result property="borrowDate" column="borrow_date"/>
        <result property="returnDate" column="return_date"/>
        <result property="taskStatus" column="task_status"/>
        <result property="taskDesc" column="task_desc"/>
        <result property="taskCity" column="task_city"/>
        <result property="taskArea" column="task_area"/>
        <!-- 该任务中包含的试验箱和线缆 -->
        <collection property="boxes" ofType="box">
            <id property="boxId" column="box_id"/>
            <result property="boxNumber" column="box_number"/>
            <result property="boxName" column="box_name"/>
            <result property="boxType" column="box_type"/>
            <result property="boxTagId" column="box_tag_id"/>
            <result property="boxArea" column="box_area"/>
            <result property="boxStatus" column="box_status"/>
            <!--<collection property="cables" ofType="cable">-->
                <!--<id property="cableId" column="cable_id"/>-->
                <!--<result property="cableNumber" column="cable_number"/>-->
                <!--<result property="cableType" column="cable_Type"/>-->
                <!--<result property="cableTagId" column="cable_Tag_Id"/>-->
                <!--<result property="cableArea" column="cable_Area"/>-->
            <!--</collection>-->
        </collection>
        <!-- 任务审批信息 -->
        <collection property="examines" ofType="examine">
            <id property="examineId" column="examine_Id"/>
            <result property="examineLevel" column="examine_Level"/>
            <result property="examineResult" column="examine_Result"/>
            <result property="approverId" column="approver_Id"/>
            <result property="examineDate" column="examine_Date"/>
            <result property="examineReason" column="examine_Reason"/>
        </collection>
    </resultMap>

    <!--查询任务的详细信息-->
    <select id="queryTaskDetail" resultMap="detailTaskMap" parameterType="int">
        select
          t.*, b.*
        from task t, box b, taskbox tb
        where
          t.task_id = #{taskId}
          and tb.task_id = t.task_id
          and b.box_id = tb.box_id
    </select>
    <!--
    select
          t.*, b.*, c.*
        from task t, box b, cable c, taskbox tb
        where
          t.task_id = #{taskId}
          and tb.task_id = t.task_id
          and b.box_id = tb.box_id
          and c.cable_box_id = b.box_id
    -->
    <!--
    <select id="queryTaskDetail" resultMap="detailTaskMap" parameterType="int">
        select
          t.*, b.*, c.*, e.*
        from task t, box b, cable c, taskbox tb, examine e
        where
          t.task_id = #{taskId}
          and e.task_id = t.task_id
          and tb.task_id = t.task_id
          and b.box_id = tb.box_id
          and c.cable_box_id = b.box_id
    </select>
    -->

    <!--创建一个任务-->
    <insert id="insertTask" parameterType="task">
        insert into
            task
            (task_id, task_number, task_name, task_worker_id, task_worker_name,
             task_point, task_date, borrow_date, return_date, task_status, task_desc, task_city, task_area)
        values
            (#{taskId}, #{taskNumber}, #{taskName}, #{taskWorkerId}, #{taskWorkerName},#{taskPoint},
             #{taskDate}, #{borrowDate}, #{returnDate}, #{taskStatus}, #{taskDesc}, #{taskCity}, #{taskArea})
    </insert>

    <!--修改任务状态-->
    <update id="updateTaskStatus">
        update task set
            task_status = #{taskStatus}
        where task_id = #{taskId}
    </update>

    <!-- 查询所有任务处于各个状态的任务数 -->
    <select id="queryTaskStatusNum" resultType="java.util.Map" parameterType="int">
        select task_status as status, count(*) as num
        from task
        <where>
            <if test="workerId!=-1">
                task.task_worker_id = #{workerId}
            </if>
        </where>
        group by task_status
    </select>

    <!-- 查询某个状态条件的所有任务 -->
    <select id="queryTaskByStatus" resultMap="simpleTaskMap" parameterType="int">
        select * from task
        where task_status = #{taskStatus}
        order by task_date desc;
    </select>


    <select id="queryTaskByApprover" resultMap="simpleTaskMap">
      select
        t.*
      from task t, examine e
      where
        e.approver_id = #{approverId}
        and e.examine_result = #{examineResult}
        and t.task_id = e.task_id
        order by e.examine_date desc
    </select>
</mapper>